# Data Assignment

## Introduction

The Köppen–Geiger climate classification system is a common climate classification system. It classifies the climate of a region using 3 letters. The first represents the type of climate, the second indicates precipitation, and the third corresponds to temperature. For example, San Diego is classified as Bsh[1], where the B represents arid climate, s stand for dry summer, and h corresponds to hot. For the 3rd symbol to be h, the annual average temperature should be above 18ºC.

## Dataset

We will use the hourly weather dataset to consider temperature changes in the city.

Note that the temperatures given in the dataset is in Kelvin. To convert from Kelvin to ºC use [ºC]=[K]-273.15

In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import norm, t, sem, bayes_mvs, ttest_1samp
%matplotlib inline
%config InlineBackend.figure_format ='retina'

In [39]:
weather = pd.read_csv('temperature.csv', sep=',')

In [40]:
weather = weather.drop(columns=[("Vancouver")])
weather = weather.drop(columns=[("Portland")])
weather = weather.drop(columns=[("San Francisco")])
weather = weather.drop(columns=[("Seattle")])
weather = weather.drop(columns=[("Los Angeles")])
weather = weather.drop(columns=[("Las Vegas")])
weather = weather.drop(columns=[("Phoenix")])
weather = weather.drop(columns=[("Albuquerque")])
weather = weather.drop(columns=[("Denver")])
weather = weather.drop(columns=[("San Antonio")])
weather = weather.drop(columns=[("Dallas")])
weather = weather.drop(columns=[("Houston")])
weather = weather.drop(columns=[("Kansas City")])
weather = weather.drop(columns=[("Minneapolis")])
weather = weather.drop(columns=[("Saint Louis")])
weather = weather.drop(columns=[("Chicago")])
weather = weather.drop(columns=[("Nashville")])
weather = weather.drop(columns=[("Indianapolis")])
weather = weather.drop(columns=[("Jacksonville")])
weather = weather.drop(columns=[("Charlotte")])
weather = weather.drop(columns=[("Miami")])
weather = weather.drop(columns=[("Pittsburgh")])
weather = weather.drop(columns=[("Toronto")])
weather = weather.drop(columns=[("Philadelphia")])
weather = weather.drop(columns=[("New York")])
weather = weather.drop(columns=[("Montreal")])
weather = weather.drop(columns=[("Boston")])
weather = weather.drop(columns=[("Beersheba")])
weather = weather.drop(columns=[("Tel Aviv District")])
weather = weather.drop(columns=[("Eilat")])
weather = weather.drop(columns=[("Haifa")])
weather = weather.drop(columns=[("Nahariyya")])
weather = weather.drop(columns=[("Jerusalem")])
weather = weather.drop(columns=[("Atlanta")])
weather = weather.drop(columns=[("Detroit")])

In [42]:
# function to convert to celcius
def celcius(x):
    y = x - 273.15
    return y

In [43]:
weather['celcius'] = weather['San Diego'].apply(celcius)

In [44]:
weather.head()

              datetime   San Diego    celcius
0  2012-10-01 12:00:00         NaN        NaN
1  2012-10-01 13:00:00  291.530000  18.380000
2  2012-10-01 14:00:00  291.533501  18.383501
3  2012-10-01 15:00:00  291.543355  18.393355
4  2012-10-01 16:00:00  291.553209  18.403209

In [52]:
weather = weather.dropna()

## Q1

Using hypothesis testing, verify with 5% significance if the city of San Diego should have the 3rd symbol to be h according to the Köppen–Geiger climate classification system using temperature data from the year 2016.

In [53]:
upper = 18 * 1.05
lower = 18 * .95
print('upper bounds =', upper)
print('lower bounds =', lower)
print(weather['celcius'].mean())

upper bounds = 18.900000000000002
lower bounds = 17.099999999999998
17.0650441652913

**Answer** = False = The MEAN doesn't fall within 5% of 18 degrees

## Q2

Report the p-value for the above problem

In [58]:
mean_assumption = 18
tt = ttest_1samp(weather['celcius'], mean_assumption)
print('t statistic =', tt[0])
print('two sided test =', tt[1])
print('one sided test =', tt[1]/2)

t statistic = -33.76721696928075
two sided test = 7.075853611047679e-247
one sided test = 3.5379268055238393e-247

In [57]:
weather['celcius']

1        18.380000
2        18.383501
3        18.393355
4        18.403209
5        18.413063
6        18.422917
7        18.432772
8        18.442626
9        18.452480
10       18.462334
11       18.472188
12       18.482042
13       18.491896
14       18.501750
15       18.511605
16       18.521459
17       18.531313
18       18.541167
19       18.551021
20       18.560875
21       18.570729
22       18.580583
23       18.590438
24       18.600292
25       18.610146
26       18.620000
27       21.760000
28       23.150000
29       26.980000
30       30.830000
           ...
45223    16.690000
45224    18.540000
45225    18.610000
45226    18.930000
45227    16.932000
45228    17.860000
45229    17.250000
45230    16.690000
45231    15.280000
45232    14.610000
45233    13.990000
45234    13.490000
45235    13.450000
45236    13.340000
45237    13.490000
45238    13.280000
45239    12.630000
45240    12.530000
45241    11.910000
45242    12.370000
45243    12.130000
45244    12.600000
45245    14.450000
45246    16.490000
45247    17.780000
45248    19.000000
45249    19.590000
45250    19.430000
45251    19.460000
45252    18.250000
Name: celcius, Length: 45252, dtype: float64