# Data Assignment

## Introduction

The Köppen–Geiger climate classification system is a common climate classification system. It classifies the climate of a region using 3 letters. The first represents the type of climate, the second indicates precipitation, and the third corresponds to temperature. For example, San Diego is classified as Bsh[1], where the B represents arid climate, s stand for dry summer, and h corresponds to hot. For the 3rd symbol to be h, the annual average temperature should be above 18ºC.

## Dataset

We will use the hourly weather dataset to consider temperature changes in the city.

Note that the temperatures given in the dataset is in Kelvin. To convert from Kelvin to ºC use [ºC]=[K]-273.15

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import norm, t, sem, bayes_mvs, ttest_1samp
%matplotlib inline
%config InlineBackend.figure_format ='retina'

In [2]:
weather = pd.read_csv('temperature.csv', sep=',')

In [3]:
weather = weather.drop(columns=[("Vancouver")])
weather = weather.drop(columns=[("Portland")])
weather = weather.drop(columns=[("San Francisco")])
weather = weather.drop(columns=[("Seattle")])
weather = weather.drop(columns=[("Los Angeles")])
weather = weather.drop(columns=[("Las Vegas")])
weather = weather.drop(columns=[("Phoenix")])
weather = weather.drop(columns=[("Albuquerque")])
weather = weather.drop(columns=[("Denver")])
weather = weather.drop(columns=[("San Antonio")])
weather = weather.drop(columns=[("Dallas")])
weather = weather.drop(columns=[("Houston")])
weather = weather.drop(columns=[("Kansas City")])
weather = weather.drop(columns=[("Minneapolis")])
weather = weather.drop(columns=[("Saint Louis")])
weather = weather.drop(columns=[("Chicago")])
weather = weather.drop(columns=[("Nashville")])
weather = weather.drop(columns=[("Indianapolis")])
weather = weather.drop(columns=[("Jacksonville")])
weather = weather.drop(columns=[("Charlotte")])
weather = weather.drop(columns=[("Miami")])
weather = weather.drop(columns=[("Pittsburgh")])
weather = weather.drop(columns=[("Toronto")])
weather = weather.drop(columns=[("Philadelphia")])
weather = weather.drop(columns=[("New York")])
weather = weather.drop(columns=[("Montreal")])
weather = weather.drop(columns=[("Boston")])
weather = weather.drop(columns=[("Beersheba")])
weather = weather.drop(columns=[("Tel Aviv District")])
weather = weather.drop(columns=[("Eilat")])
weather = weather.drop(columns=[("Haifa")])
weather = weather.drop(columns=[("Nahariyya")])
weather = weather.drop(columns=[("Jerusalem")])
weather = weather.drop(columns=[("Atlanta")])
weather = weather.drop(columns=[("Detroit")])

In [4]:
# function to convert to celcius
def celcius(x):
    y = x - 273.15
    return y

In [5]:
weather['celcius'] = weather['San Diego'].apply(celcius)

In [6]:
weather.head()

              datetime   San Diego    celcius
0  2012-10-01 12:00:00         NaN        NaN
1  2012-10-01 13:00:00  291.530000  18.380000
2  2012-10-01 14:00:00  291.533501  18.383501
3  2012-10-01 15:00:00  291.543355  18.393355
4  2012-10-01 16:00:00  291.553209  18.403209

In [7]:
weather = weather.dropna()

In [8]:
before = weather['datetime'] > '2016-01-01 00:00:00'

In [9]:
before_weather = weather[before]

In [10]:
after = before_weather['datetime'] < '2017-01-01 00:00:00'

In [11]:
final_weather = before_weather[after]

In [12]:
final_weather.describe()

         San Diego      celcius
count  8783.000000  8783.000000
mean    290.747451    17.597451
std       5.603033     5.603033
min     274.274000     1.124000
25%     286.740000    13.590000
50%     290.220000    17.070000
75%     294.140000    20.990000
max     313.360000    40.210000

## Q1

Using hypothesis testing, verify with 5% significance if the city of San Diego should have the 3rd symbol to be h according to the Köppen–Geiger climate classification system using temperature data from the year 2016.

In [13]:
final_weather['celcius'].mean()

17.597451103602953

## Q2

Report the p-value for the above problem

In [14]:
mean_assumption = 18
tt = ttest_1samp(final_weather['celcius'], mean_assumption)
print('p-value =', tt[1]/2)

p-value = 8.823670044681518e-12