# Introduction

In this assignment you will learn to use functions to access, query, and gain simple insights from datasets.

### Dataset

The Titanic was a British passenger liner that collided with an iceberg and sank in its maiden voyage. Tragicallly, of the 2,200 passengers onboard, only 800 survived. We will use the Titanic:Machine Learning from disaster dataset to estimate survival probabilies associated with various passengers. We will use only the train.csv file.

### Some useful functions

The following functions outlined in pandas library may prove helpful.

pandas.read_csv() → Reads the .csv file 
pandas.value_counts() → Returns count of unique values

### Questions

Using the dataset, estimate the following.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
titanic = pd.read_csv('train.csv', sep=',')
titanic.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [3]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Q1
Survival probability for a passenger

In [4]:
filter = titanic['Survived'] == 1
survived = titanic[filter]

In [5]:
total_count = titanic.Survived.count()
survived_count = survived.Survived.count()

In [6]:
print('Survival probability for a passenger.:')
print(survived_count/total_count)

Survival probability for a passenger.:
0.3838383838383838

# Q2

Survival probability for a female passenger.

In [7]:
filter = titanic['Sex'] == 'female'
female = titanic[filter]

In [8]:
filter = survived['Sex'] == 'female'
female_survived = survived[filter]

In [9]:
total_female = female.Survived.count()
survived_female = female_survived.Survived.count()

In [10]:
print('Survival probability for a female passenger:')
print(survived_female/total_female)

Survival probability for a female passenger:
0.7420382165605095

# Q3

Probability that a person is a female and survives.

In [11]:
print('Probaility a person is a female')
prob_female = total_female/total_count
print(prob_female)

Probaility a person is a female
0.35241301907968575

In [12]:
print('Proability a person survives')
prob_survives = survived_count/total_count
print(prob_survives)

Proability a person survives
0.3838383838383838

In [13]:
print('Conditional Probability: Intersection of Females and Survivors / Survivors')
print((survived_female/total_female) * prob_survives)

Conditional Probability: Intersection of Females and Survivors / Survivors
0.2848227497909026

## Q4

Survival probability of a passenger given that the passenger is a female staying in first class.

In [14]:
female.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [15]:
female.count()

PassengerId    314
Survived       314
Pclass         314
Name           314
Sex            314
Age            261
SibSp          314
Parch          314
Ticket         314
Fare           314
Cabin           97
Embarked       312
dtype: int64

In [16]:
filter = titanic['Cabin'].notnull()
first_class = titanic[filter]
first_class.count()

PassengerId    204
Survived       204
Pclass         204
Name           204
Sex            204
Age            185
SibSp          204
Parch          204
Ticket         204
Fare           204
Cabin          204
Embarked       202
dtype: int64

In [17]:
filter = female['Cabin'].notnull()
first_class_female = female[filter]

first_class_female_total = first_class_female.Cabin.count()
# print(first_class_female_total)
first_class_female.count()

PassengerId    97
Survived       97
Pclass         97
Name           97
Sex            97
Age            90
SibSp          97
Parch          97
Ticket         97
Fare           97
Cabin          97
Embarked       95
dtype: int64

In [18]:
first_class_female_total/total_count

0.10886644219977554

In [19]:
print('Conditional Probability: Intersection of Females and First Class Survivors')
print((survived_female/total_female) * (first_class_total/total_count))

Conditional Probability: Intersection of Females and First Class Survivors

NameError: name 'first_class_total' is not defined